.App {
  padding: 0 20px 20px 20px;
}

.btn {
  border: 0px;
  color: #fff;
  font-size: 20px;
  text-align: left;
  background: #64b5f6;
  padding: 20px;
  border-radius: 3px;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn:hover {
  background: #42a5f5;
}

.ssids-container {
}

.ssids-container .btn {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  display: block;
  padding: 20px;
  font-size: 20px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
}

.form {
  padding-bottom: 10px;
}

.form .input {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.error {
  font-size: 20px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid red;
}

.text-center {
  text-align: center;
}
